.THIS ul{
	list-style-type: none;
}
.THIS .duration {
    color: #f50202;
    padding: 5px;
}
.THIS .d_title {
    color: #000;
}
.THIS .duration .d_txt{
    display: inline-block;
    margin-right: 15px;
}
.THIS .duration .d_status{
    display: inline-block;
    margin-left: 15px;
}
.THIS .duration .d_input{
    display: inline-block;
    margin-left: 15px;
}
.THIS .errorblock{
    display: none;
}

.THIS .mb25 {
    margin-bottom: 25px !important;
}

.THIS .mt60 {
    margin-top: 10px !important;
}

.THIS .fakenewsimage {
    height: 100%;  
}
@media (min-width: 200px) and (max-width: 500px) {
    .THIS .fakenewsimage {
        height: 70px;
    }
}