.THIS .objbox {
    width: 200px;
    height: 200px;
    background-size: contain;
    margin: 0px auto;
}
.THIS .btninputbox {
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    left: 0;
    /* border-top: 1px red solid; */
}
.THIS .btninputbx {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.THIS .btninputbx li {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}
.THIS .btninput1{
    background-image: url(../s/sfsites/c/resource/mindcrowd_style/images/odd_key.png?t=1);
    height:60px;
    width: 60px;
    background-size: contain;
    display: block;
    text-align: center;
    /* padding: 15px; */
    font-size: 34px;
    /* margin:0px 5px; */
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    margin: auto;
}
.THIS .btninput2{
    background-image: url(../s/sfsites/c/resource/mindcrowd_style/images/even_key.png?t=1);
    height:60px;
    width: 60px;
    background-size: contain;
    display: block;
    text-align: center;
    /* padding: 15px; */
    font-size: 34px;
    /* margin:0px 5px; */
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    margin: auto;
}
.THIS .btninput3{
    background-image: url(../s/sfsites/c/resource/mindcrowd_style/images/consonant_key.png?t=1);
    height:60px;
    width: 60px;
    background-size: contain;
    display: block;
    text-align: center;
    /* padding: 15px; */
    font-size: 34px;
    /* margin:0px 5px; */
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    margin: auto;
}
.THIS .btninput4{
    background-image: url(../s/sfsites/c/resource/mindcrowd_style/images/vowel_key.png?t=1);
    height:60px;
    width: 60px;
    background-size: contain;
    display: block;
    text-align: center;
    /* padding: 15px; */
    font-size: 34px;
    /* margin:0px 5px; */
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    margin: auto;
}