.THIS ul{
	list-style-type: none;
}
.THIS .d_title {
    color: #000;
}
.THIS .duration .d_txt{
    display: inline-block;
    margin-right: 15px;
}
.THIS .duration .d_status{
    display: inline-block;
    margin-left: 15px;
}
.THIS .duration .d_input{
    display: inline-block;
    margin-left: 15px;
}
.THIS .errorblock{
    display: none;
}